body {
	background:#000000;
	padding-left: 27.5%;
	padding-right: 27.5%;
	font-family: Arial;
}
h1{
	color:grey;
	text-align: center;
}

h4{
	padding-left: 10%;
}

#box {
	background: #FFFFFF;
	border-radius: 25px;
	padding-top: 2.5%;
	padding-bottom: 5%;
}

#data {
	padding-left: 30%;
}

.input {
	padding-bottom: 0.5%;
}


